

body{
  padding:0%;
  margin: 0%;
  background-color: rgba(0, 0, 139, 0.762);
}

.container{
  /* background-color: rgba(0, 0, 139, 0.762); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto;  */
  width: 100vw;
  height: 100vh;

}

.title{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
  padding: 0%;
  width: 100vw;
}

.title_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2px;
  align-items: center;
}
