

body{
  padding:0%;
  margin: 0%;
  background-color: rgba(0, 0, 139, 0.762);
  
}

.container{
  /* background-color: rgba(0, 0, 139, 0.762); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto;  */
  width: 100vw;
  height: 100vh;

}

.title{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
  padding: 0%;
  width: 100vw;
}

.title_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2px;
  align-items: center;
}

.login{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  height: 350px;
  width: 350px;
  border-radius: 5%;
  box-shadow: 3px 3px 10px black;
  margin: 0 auto;
}

.form{
  border: 2px solid black;
  background-color: white;
  box-shadow: 4px 4px black;
  height: 350px;
  width: 350px;
}